.lt_content .category_left{
  background-color:pink;
  width: 100px;
  height: 100%;
  float: left;
  /* position: relative; */
}
.lt_content .category_right{
  height: 100%;
  overflow: hidden;
  position: relative;

}

.lt_content .category_left li{
  width: 100px;
  height: 50px;
  border-right: 1px  solid #ccc;
  border-bottom: 1px  solid #ccc;
  text-align: center;
  line-height: 50px;
}
.category_right li{
  float: left;
  width: 33.33%;
  text-align: center;
}
.category_right li img{
  display: block;
  width: 62px;
  height: 62px;
  margin:0 auto;
}
.category_left li.listColor{
  background-color: #fff;
  border-right: none;
}