.lt_content .nav li{
   float: left;
   width: 33.33%;
   text-align: center
  
}
.lt_content .nav img{
  display: block;
  width: 100%;
  height: 100%;

}
.lt_content .nav{
 
  padding:10px;
}
.lt_content .lt_product{
  padding: 10px;
}
.lt_content .lt_product li{
  float: left;
  width: 45%;
  border:1px solid #ccc; 
  text-align: center;
  margin-bottom: 5px;
}
.lt_product li img{
  display: block;
  width: 100%;
  height: 100%;
}
.lt_content .lt_product li:nth-child(odd){
   margin-left: 5px;
   margin-right: 42px;
}
.lt_content .lt_product li:nth-child(even){
  margin-left: 5px;
  
}
.lt_product {
   font-size: 14px;
}
.lt_product p{
  font-size: 14px;
}
.lt_product input{
  background-color: #007aff;
  color: #fff;
  margin-bottom: 5px;
}
.lt_product .newPrice{
  text-decoration: line-through;
  color: #ccc;
}
.lt_product .oldPrice{
  color: red;
}